body{
margin: 0;
text-align: center;
}

div{
  background-color: #222831;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Sacramento,cursive;
    font-size: 73px;
    color: #00fff5;
}

h2{
  margin: 0;
  font-family: Montserrat,sans-serif;
  color: #00fff5;
}

.titlebelow{
  font-weight: normal;
}

h3{
  font-family: Montserrat,sans-serif;
  color: #00fff5;
  margin:0 auto;
}

p{
  margin-top: 0;
  font-family: Montserrat,sans-serif;
  color: #00adb5;

}

hr{
  border: dotted #393e46 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;
}

.hello{
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Montserrat,sans-serif;
  color: #00fff5;
}

.intro{
padding-left: 250px;
padding-right: 250px;
  text-align: justify;

}

.skillsp{

margin-top: 20px;
text-align: justify;
}
.ico{
  margin: 10px;
  float: left;
}

.ico2{
  float: right;
  margin: 10px;
}
.cloud{
  position: absolute;
  top: 300px;
  left: 300px;
}

.cloudabove{
  position: absolute;
  top: 50px;
  right: 300px;
}

.topcontainer{
  padding: 100px;
  padding-bottom: 0px;
}

.middlecontainer{
  padding: 50px;
  margin: auto;
}

.contact{
  padding: 10px;
  margin: 0;
}

.skill-row{
  margin-top: 50px;

}
.skill-row2{
  margin-top: 100px;
}

.pnwd{
  margin-top: 15px;
  text-align: justify;

}

.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.fico{
  margin-bottom: 50px;
}
