{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>ParfectShot</title>
  </head>
  <body style="background-color:#000000">
    
      <!-- Navigation Bar with Header-->
      <header class="masthead" style="background-image: url('static/mrpash/images/blog1.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar navbar-dark " style="background-color: transparent">
                <div class="container">
                <a class="navbar-brand" href="#">
                    <img src=" {% static 'mrpash/images/pshh.jpg' %} " width="65" height="70" class="d-inline-block align-top" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav mx-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'Home'%}" >Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Gallery'%}">Gallery</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'Blog' %}">Blog</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="{% url 'Contact' %}">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{% url 'Records' %}">Records</a>
                      </li>
                  </ul>
        
                  <ul class="navbar-nav">
                        <li class="nav-item active">
                          <a class="nav-link" href="https://www.instagram.com/_wheedling_shots_/" target="_blank">
                          <img src="{% static 'mrpash/images/insta.png'%}" width="50" height="50">
                          </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/wheedlingshots/" target="_blank">
                                <img src="{% static 'mrpash/images/fb.png'%}" width="50" height="50">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/PArfectSHot" target="_blank">
                                <img src="{% static 'mrpash/images/tweet.png'%}" width="50" height="50">
                            </a>
                        </li>
                        
                    </ul>
                </div>
                </div>
              </nav>
          <!-- Main Heading for Blog page-->
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>

                <h1>ParfectShot</h1>
                <span class="subheading">Stories by a moody photographer and a lazy engineer</span>
              </div>
            </div>
          </div>
        </div>
      </header>
     
    
        <hr>
    
        <!-- Footer -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; ParfectShot 2018</p>
              </div>
            </div>
          </div>
        </footer>

      

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>




 
